page-product-list-quote {
    ion-note {
        font-size: 12px;
        align-self: flex-start !important;
        margin-top: 16px !important;
    }
    p[align-right]{
        text-align: right !important;
    }
}
