<ion-header>
  <ion-navbar color="primary">
    <ion-title>Product List Quote</ion-title>
  </ion-navbar>
  <ion-toolbar color="secondary">
    <ion-title>{{productListDetail.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of productListQuotes" (tap)="itemTapped($event, item)">
      <h2>{{item.storeName}}</h2>
      <p>{{item.address}}</p>
      <ion-note item-end>
        <p align-right><ion-badge color="primary">{{item.distanceInKm}}km (est.)</ion-badge></p>
        <p align-right><ion-badge color="primary">${{item.amount}}</ion-badge></p>
      </ion-note>
    </button>
  </ion-list>
  <div *ngIf="productListQuotes.length == 0" padding>
    There are no product list quotes to select
  </div>
</ion-content>