<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Supermerca2</ion-title>
  </ion-navbar>
  <ion-toolbar color="secondary">
    <ion-title>Product Lists</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (tap)="createTapped($event)">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- <ion-fab bottom right>
    <button ion-fab>
      <ion-icon name="add" (tap)="createTapped($event)"></ion-icon>
    </button>
  </ion-fab> -->
  <ion-list>
    <ion-item-sliding *ngFor="let item of productLists">
      <button (tap)="itemTapped($event, item)" ion-item>
          {{item.name}}
      </button>
      <ion-item-options side="right">
        <button ion-button color="primary" (tap)="editTapped($event, item)">
          <ion-icon name="create"></ion-icon>
          Edit
        </button>
        <button ion-button color="secondary" (tap)="deleteTapped($event, item)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <div *ngIf="productLists.length == 0" padding>
    There are no product lists to select, please create one
  </div>
</ion-content>
