page-product-list-quote-detail {

}

#map {
    width: 95vw;
    height: 230px;
}

.ios, .md {
    home-page {
      .scroll-content {
        height: 100%
      }
      #map {
        width: 100%;
        height: 100%;
      }
    }
  }

button[fab].fab-map {
  top: calc(100% - 35px);
  z-index: 50;
}
