page-product-list-quote-detail {

}

#map {
    width: 95vw;
    height: 90vw;
}

.ios, .md {
    home-page {
      .scroll-content {
        height: 100%
      }
      #map {
        width: 100%;
        height: 100%;
      }
    }
  }
