<ion-header>
  <ion-navbar color="primary">
    <ion-title>Product List Quote Detail</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card class="title" *ngIf="productListDetail">
    <ion-item>
      <ion-icon name="cart" item-start></ion-icon>
      <h2>{{productListDetail.name}}</h2>
      <div item-end>
          <ion-icon name="pricetag"></ion-icon>
          ${{productListDetail.quote.amount}}
      </div>
    </ion-item>
    <div style="position: relative">
      <div #map id="map"></div> 
      <ion-fab right top>
        <button ion-fab class="fab-map" (tap)="navigateTapped()">
          <ion-icon name="pin"></ion-icon>
        </button>
      </ion-fab>
    </div>
    <ion-item>
        <span item-right>{{travelDistance}}</span>
        <span item-right>({{travelTime}})</span>
    </ion-item>
    <ion-card-content>
      <ion-card-title>
        Product Tags
      </ion-card-title>  
      <ion-list>
        <button ion-item *ngFor="let item of quoteProducts" (tap)="productTapped($event, item)">
          <ion-icon name="checkmark" item-start></ion-icon>
          {{item.name}}
          <ion-badge item-end>{{item.quantity}} x ${{item.amount}}</ion-badge>
        </button>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
    
