<ion-header>
    <ion-navbar color="primary">
      <ion-title>Product List Quote Detail</ion-title>
    </ion-navbar>
    <ion-toolbar color="secondary">
      <ion-title>{{productListDetail.name}}</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content>
    <ion-card class="title" *ngIf="productListDetail">
      <ion-card-header>
        Products
      </ion-card-header>
      <ion-list>
        <button ion-item *ngFor="let item of quoteProducts" (tap)="productTapped($event, item)">
          {{item.name}}
          <ion-badge item-end>{{item.quantity}} x ${{item.amount}}</ion-badge>
        </button>
      </ion-list>
    </ion-card>
  </ion-content>
    
